/* You can add global styles to this file, and also import other style files */
body {
    width: 90%;
    margin: auto;
}

/* img {
    height: 100px;
    width: auto;
    object-fit: cover;
  }

  .beforeAfter:before, .beforeAfter:after {
    content: "";
    display: table;
    text-align: center;
}

.beforeAfter:after{
    clear: both;
} */